<div class="styled">
<h1>Wecome to the Hungrynatra Diner!</h1>

<br>
<p>Select your appetizer:</p>

<form method='GET' action='select_food'>
<select name="appetizer">
  <option value="nachos">Nachos</option>
  <option value="mozzarella sticks">Mozzarella Sticks</option>
  <option value="chips and salsa">Chips and Salsa</option>
</select>
  
<br><br>
  
  <p>Select your entree:</p>
  
  
<select name="entree">
  <option value="pizza">Pizza</option>
  <option value="burger">Burger</option>
  <option value="Taco">Taco</option>
</select>
  
  <br><br>
  
  <p>Select your dessert:</p>

  
<select name="dessert">
  <option value="chocolate cake">Chocolate Cake</option>
  <option value="apple pie">Apple Pie</option>
  <option value="ice cream">Ice Cream</option>
</select>
 
  <br><br><br>
  
<input type="submit" value="Submit!" class="btn btn-success">
</form>

  </div>

